@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'DINPro-Regular', 'Trebuchet MS';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-section */
.header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 15px;
    width: 100%;
    background: black;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
    margin-left: 114px;
    cursor: pointer;
}

.header-centre {
    display: flex;
    color: white;
    margin: 15px;
    cursor: pointer;
}

.icon1 {
    margin: 30px;
}

.icon1:hover {
    color: rgb(19, 227, 19);
}

.header-end {
    color: white;
    margin: 30px;
    font-size: 30px;
    cursor: pointer;
}

/* main start */
.main-top img {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    color: gray;
    top: 64%;
    left: 15%;
    line-height: 1.6;
    font-weight: 200;
}

.maintop-left {
    position: absolute;
    top: 28%;
    left: 11%;
    float: left;
}

.btn {
    position: absolute;
    top: 90%;
    left: 15%;
    background: black;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(19, 227, 19);
    border-color: rgb(19, 227, 19);
}

/* main centre images */
.all-pictures {
    width: 100%;
    height: 100%;
    padding: 35px 30px;
    background: whitesmoke;
    margin-top: -4px;
}

.images {
    display: flex;
    cursor: pointer;
}

.image:hover {
    transform: scale(1.01);
}

.image {
    background: white;
    width: 100%;
    margin-right: 20px;
}

.image-head {
    font-weight: bold;
    padding: 14px;
}

.image-subhead {
    color: gray;
    font-size: 15px;
    padding: 14px;
}

/* MAIN LAST */
.main-last {
    width: 100%;
    height: 300px;
    background: white;
}

.details {
    padding: 50px 30px;
    float: left;
    margin-left: 3%;
}

.details-head {
    margin: 20;
    padding-left: 8px;
    font-size: 14px;
    cursor: default;
    border-left: 2px solid #44d62c;
}

.details-subhead {
    color: gray;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.7;
    cursor: pointer;
}

.phone-names:hover {
    color: rgb(19, 227, 19);
}

/* footer */
.footer {
    width: 100%;
    height: 95px;
    background: #2b2b2b;
    color: #ccc;
}

ul {
    list-style-type: none;
    display: flex;
    padding-left: 100px;
    align-items: center;
    padding-left: 199px;
    padding-top: 27px;
}

li {
    padding-left: 59px;
    font-size: xx-large;
    color: gray;
    cursor: pointer;
}

.footer i:hover {
    color: rgb(19, 227, 19);
    transform: scale(1.08);
}

.footer2 {
    width: 100%;
    height: 75px;
    background: #252525;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    padding-top: 30px;
    justify-content: space-between;
}